body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  background-size:calc(3000px)
}
img{
  height: 300px;
  width: 300px;
  border: solid 1px rgba(0, 0, 0, 0.376);
  border-radius: 3%;
}

ul{
  list-style: none;
}

h1{
  font-size: 30px !important;
}

span a{
  color: black;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px !important;
}

a:hover{
  text-decoration: none;
}

.comments{
  overflow-wrap: normal;
  height: 200px;
  width: 370px;
  font-size: 16px !important;
  border-radius: 3%;
  border-style: none;
  background: rgba(255, 255, 255, 0.315);
  overflow-y: scroll;
}

.likes{
  font-size: 16px;
}
.time{
  font-size: 12px !important;
}

i{
  font-size: 16px !important;
  cursor: pointer;
}

/* index*/
.index-card{
  background: hsla(0, 0%, 100%, 0.329);
  border-radius: 3%;
  border-style: none;
}
